:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    padding: 15px 0;
}
nav li {
    list-style: none;
    margin-left: 35px;
}
nav a {
    color: var(--Medium-Gray);
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    font-weight: 595;
}
nav a:hover {
    color: var(--Almost-Black);
}
nav ul {
    display: flex;
    align-items: center;
}
nav button {
    background-color: white;
    color: var(--Medium-Gray);
    border: 2px solid hsl(0, 0%, 41%);
    width: 90px;
    height: 40px;
    border-radius: 12px;
    font-family: 'Epilogue', sans-serif;
}
nav button:hover {
    border: 2px solid black;
    color: var(--Almost-Black);
}
#menu-icon {
    display: none;
}
#logo-and-navigation {
    display: flex;
    align-items: center;
}


/* HERO SECTION */
#hero-section {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
    padding: 50px 0px;
}
.hero-image {
    background-image: url("images/image-hero-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45%;
    height: auto;
}
.make-remote {
    font-family: 'Epilogue', sans-serif;
    padding-top: 130px;
}
.make-remote h1 {
    font-weight: 750;
    font-size: 80px;
    padding-bottom: 40px;
    width: 500px;
}
.make-remote p {
    font-size: 20px;
    color: var(--Medium-Gray);
    width: 470px;
    padding-bottom: 40px;
}
.make-remote button {
    background-color: var(--Almost-Black);
    border: none;
    color: var(--Almost-White);
    width: 120px;
    height: 40px;
    border-radius: 13px;
    font-family: 'Epilogue', sans-serif;
}
.make-remote button:hover {
    background-color: var(--Almost-White);
    border: 1px solid black;
    color: var(--Almost-Black);
}

.clients {
    display: flex;
    align-items: center;
    padding-top: 180px;
}
.clients img {
    padding: 18px;
}


/* RESPONSIVE */
@media screen and (min-width: 641px) and (max-width: 1000px){
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px;
        padding: 15px 0;
    }
    nav ul {
        display: none;
    }
    #menu-icon {
        display: block;
    }
    
    /* HERO SECTION */
    #hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .hero-image {
        background-image: url("images/image-hero-mobile.png");
        height: 50vh;
        width: 100%;
    }
    .make-remote {
        font-family: 'Epilogue', sans-serif;
        padding-top: 40px;
        text-align: center;
    }
    .make-remote h1 {
        font-size: 30px;
        padding-bottom: 30px;
        font-weight: 750;
        width: 100%;
    }
    .make-remote p {
        font-size: 18px;
        color: var(--Medium-Gray);
        width: 100%;
        padding-bottom: 30px;
    }
    .clients {
        padding-top: 50px;
        padding-bottom: 90px;
    }
    .clients img {
        padding: 5px;
        width: 25%;
    }

}
@media screen and (max-width: 640px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px;
        padding: 15px 0;
    }
    nav ul {
        display: none;
    }
    #menu-icon {
        display: block;
    }
    
    /* HERO SECTION */
    #hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .hero-image {
        background-image: url("images/image-hero-mobile.png");
        height: 300px;
        width: 100%;
    }
    .make-remote {
        font-family: 'Epilogue', sans-serif;
        padding-top: 40px;
        text-align: center;
    }
    .make-remote h1 {
        font-size: 30px;
        padding-bottom: 30px;
        font-weight: 750;
        width: 100%;
    }
    .make-remote p {
        font-size: 18px;
        color: var(--Medium-Gray);
        width: 100%;
        padding-bottom: 30px;
    }
    .clients {
        padding-top: 50px;
        padding-bottom: 90px;
    }
    .clients img {
        padding: 5px;
        width: 25%;
    }

}
